<configuration status = "warn">

	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd-MM-YYYY HH:mm:SS} [%t] %highlight{%5p} %c{1}::%M():%L - %m%n"></PatternLayout>
		</console>
		
		<file name="FileAppender" fileName="logs/application.log">
			<PatternLayout pattern="%d{dd-MM-YYYY HH:mm:SS} [%t] %highlight{%5p} %c{1}::%M():%L - %m%n"></PatternLayout>
		</file>
	</appenders>
		
	<loggers>
		<root level = "INFO">
			<AppenderRef ref="Console"></AppenderRef>
			<AppenderRef ref="FileAppender"></AppenderRef>
		</root>	
	</loggers>

</configuration>